<div class="panel panel-default">
  <div class="panel-body">
    <div class="form-group">
      <%= f.text_field(:name, class:"form-control", autofocus: true, placeholder: "Activity Name") %>
    </div>
    <div class="form-group">
      <%= f.text_field(:description, class:"form-control", autofocus: true, placeholder: "Description") %>
    </div>
    <div class="form-group">
      <%= f.text_field(:venue, class:"form-control", autofocus: true, placeholder: "Venue") %>
    </div>
    <div class="form-group">
      <%= f.date_field(:date, class:"form-control", autofocus: true, placeholder: "Date") %>
    </div>
    <div class="form-group">
      <%= f.text_field(:speaker, class:"form-control", autofocus: true, placeholder: "Speaker") %>
    </div>
    <div class="form-group">
      <%= f.text_field(:speakerbio, class:"form-control", autofocus: true, placeholder: "Speaker Biography") %>
    </div>
    <div class="form-group">
      <%= f.text_field(:biolink, class:"form-control", autofocus: true, placeholder: "Biography Link") %>
    </div>
    <div class="form-group">
      <%= f.text_field(:keytakeaway, class:"form-control", autofocus: true, placeholder: "Key Benefits") %>
    </div>
    <div class="form-group">
      <%= f.text_field(:prerequisite, class:"form-control", autofocus: true, placeholder: "Prerequisite") %>
    </div>
    <div class="form-group">
      <%= f.text_field(:keytakeaway, class:"form-control", autofocus: true, placeholder: "Key Benefits") %>
    </div>
    <div class="form-group">
      <%= f.text_field(:maxattendee, class:"form-control", autofocus: true, placeholder: "Maximum Attendees") %>
    </div>
    <div class="form-group">
      <%= f.text_field(:tags, class:"form-control", autofocus: true, placeholder: "Relevant Tags") %>
    </div>
    <div class="form-group">
      <%= f.text_field(:resources, class:"form-control", autofocus: true, placeholder: "Relevant Resources") %>
    </div>
    <span class="btn btn-danger btn-block beautify" data-toggle="nestedfield">
      <%= f.check_box :_destroy %><i class="glyphicon glyphicon-remove"></i>
    </span>
  </div>
</div>