<fieldset>
      <div class="control-group">
        <%= f.label(:name, :class => "control-label") %>
        <div class="controls">
          <%= f.text_field(:name, :class => "input-xlarge field", :data => { :validation => "required validate_max_length length50", "validation-error-msg" => "Name is required and cannot be longer than 50 characters." }) %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label(:date, :class => "control-label") %>
        <div class="controls">
          <%= f.text_field(:date, :class => "input-xlarge field", :data => { :validation => "required validate_max_length length50", "validation-error-msg" => "Date is required and cannot be longer than 50 characters." }) %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label(:venue, :class => "control-label") %>
        <div class="controls">
          <%= f.text_field(:venue, :class => "input-xlarge field", :data => { :validation => "required validate_length length5-50", "validation-error-msg" => "Venue is required and must be between 5 and 50 characters." }) %>
        </div>
      </div>
      
        <div class="control-group">
        <%= f.label(:description, :class => "control-label") %>
        <div class="controls">
          <%= f.text_field(:description, :class => "input-xlarge field", :data => { :validation => "required validate_length length100", "validation-error-msg" => "Description is required and cannot be longer than 100 characters." }) %>
        </div>
      </div>
      
        <div class="control-group">
        <%= f.label(:speaker, :class => "control-label") %>
        <div class="controls">
          <%= f.text_field(:speaker, :class => "input-xlarge field", :data => { :validation => "required validate_length length5-50", "validation-error-msg" => "Speaker is required and must be between 5 and 50 characters." }) %>
        </div>
      </div>
      
        <div class="control-group">
        <%= f.label(:speakerbio, :class => "control-label") %>
        <div class="controls">
          <%= f.text_field(:speakerbio, :class => "input-xlarge field", :data => { :validation => "required validate_length length100", "validation-error-msg" => "Speaker Bio is required and cannot be longer than 100 characters." }) %>
        </div>
      </div>
      
        <div class="control-group">
        <%= f.label(:biolink, :class => "control-label") %>
        <div class="controls">
          <%= f.text_field(:biolink, :class => "input-xlarge field", :data => { :validation => "required validate_length length5-50", "validation-error-msg" => "Bio Link is required and must be between 5 and 50 characters." }) %>
        </div>
      </div>
      
        <div class="control-group">
        <%= f.label(:keytakeaway, :class => "control-label") %>
        <div class="controls">
          <%= f.text_field(:keytakeaway, :class => "input-xlarge field", :data => { :validation => "required validate_length length5-50", "validation-error-msg" => "Key Takeaway is required and must be between 5 and 50 characters." }) %>
        </div>
      </div>
      
        <div class="control-group">
        <%= f.label(:prerequisite, :class => "control-label") %>
        <div class="controls">
          <%= f.text_field(:prerequisite, :class => "input-xlarge field", :data => { :validation => "required validate_length length100", "validation-error-msg" => "Prerequisite is required and cannot be longer than 100 characters." }) %>
        </div>
      </div>
      
         <div class="control-group">
        <%= f.label(:maxattendee, :class => "control-label") %>
        <div class="controls">
          <%= f.text_field(:maxattendee, :class => "input-xlarge field", :data => { :validation => "required validate_length length10", "validation-error-msg" => "Maximum Attendee is required and cannot be longer than 10 characters." }) %>
        </div>
      </div>
      
        <div class="control-group">
        <%= f.label(:tags, :class => "control-label") %>
        <div class="controls">
          <%= f.text_field(:tags, :class => "input-xlarge field", :data => { :validation => "required validate_length length100", "validation-error-msg" => "Tags is required and cannot be longer than 100 characters." }) %>
        </div>
      </div>
      
        <div class="control-group">
        <%= f.label(:resources, :class => "control-label") %>
        <div class="controls">
          <%= f.text_field(:resources, :class => "input-xlarge field", :data => { :validation => "required validate_length length100", "validation-error-msg" => "Resources is required and cannot be longer than 100 characters." }) %>
        </div>
      </div>
      <%= f.hidden_field(:_destroy, :class => "field") %>
    </fieldset>