<% if @program.errors.any? %>
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <strong><%= pluralize(@user.errors.count, "error") %> prohibited this program from being saved:</strong>

    <ul>
      <% @program.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @program, html: { role: "form" } do |f| %>
<div class="row">
  <div class="col-md-6 col-lg-7">
    <h3>Program Details</h3>
    <div class="form-group">
      <%= f.text_field(:name, class:"form-control", autofocus: true, placeholder: "Program Name") %>
    </div>
    <div class="form-group">
      <%= f.text_area(:description, class:"form-control", autofocus: true, placeholder: "Program Description") %>
    </div>
    <div class="form-group">
      <%= f.text_field(:speaker, class:"form-control", autofocus: true, placeholder: "Speaker") %>
    </div>
    <div class="form-group">
      <%= f.text_area(:speakerbio, class:"form-control", autofocus: true, placeholder: "Speaker Bio") %>
    </div>
    <div class="form-group">
      <%= f.text_field(:biourl, class:"form-control", autofocus: true, placeholder: "Bio URL") %>
    </div>
    <div class="form-group">
      <%= f.text_area(:keytakeways, class:"form-control", autofocus: true, placeholder: "Key Takeaways") %>
    </div>
    <div class="form-group">
      <%= f.text_area(:resources, class:"form-control", autofocus: true, placeholder: "Resources") %>
    </div>
    <div class="form-group">
      <%= f.text_field(:tags, class:"form-control", autofocus: true, placeholder: "Tags") %>
    </div>
  </div>

  <div class="col-md-6 col-lg-5">
    <h3>Activities</h3>
    <div class="well" id="nested-well">
      <%= f.fields_for :activities do |af| %>
        <%= render partial: 'shared/activity_field', locals: {f: af} %>
      <% end %>
      <%= button_to_add_field f, :activities %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <% if @program.new_record? %> <!-- if it's a new record show the create button -->
      <div class="form-group pull-left">
        <%= f.submit 'Create', class: "btn btn-sm btn-primary" %>
      </div>
    <% else %> <!-- else show an update button -->
      <div class="form-group pull-left">
        <%= f.submit 'Update', class: "btn btn-sm btn-primary" %>
      </div>
      
      <div class="form-group pull-right"> <!-- include the show, and back button if user is to be updated -->
        <%= link_to 'Show', @program, class: "btn btn-sm btn-info" %>

        <%= link_to 'Back', url_for(:back), class: "btn btn-sm btn-default" %>
    </div>
</div>
<% end %>
