<% if @program.errors.any? %>
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <strong><%= pluralize(@user.errors.count, "error") %> prohibited this program from being saved:</strong>

    <ul>
      <% @program.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @program, html: { role: "form" } do |f| %>
<div class="row">
  <div class="col-md-6 col-lg-7">
    <h3>Program Details</h3>
    <div class="form-group">
      <label for="name">Name</label>
      <%= f.text_field(:name, class:"form-control", autofocus: true, placeholder: "Program Name") %>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <%= f.text_area(:description, class:"form-control", autofocus: true, placeholder: "Brief Program Description") %>
    </div>
    <div class="form-group">
      <label for="speaker">Speaker</label>
      <%= f.text_area(:speaker, class:"form-control", autofocus: true, placeholder: "Speaker\'s Full Name") %>
    </div>
    <div class="form-group">
      <label for="speakerbio">Biography</label>
      <%= f.text_area(:speakerbio, class:"form-control", autofocus: true, placeholder: "Speaker\'s Biography") %>
    </div>
    <div class="form-group">
      <label for="biourl">Link to Biography</label>
      <%= f.text_field(:biourl, class:"form-control", autofocus: true, placeholder: "Biography URL") %>
    </div>
    <div class="form-group">
      <label for="keytakeways">Key Takeaways</label>
      <%= f.text_area(:keytakeways, class:"form-control", autofocus: true, placeholder: "Key Benefits") %>
    </div>
    <div class="form-group">
      <label for="resources">Resources</label>
      <%= f.text_area(:resources, class:"form-control", autofocus: true, placeholder: "Relevant Resources") %>
    </div>
    <div class="form-group">
      <label for="tags">Tags</label>
      <%= f.text_field(:tags, class:"form-control", autofocus: true, placeholder: "Relevant Tags") %>
    </div>
     <div class="form-group">
      <label for="image">Profile Picture (Speaker)</label>
      <%= f.file_field:image %>
      <h6><i>*Size of image uploaded should not be larger than 160 x 160 px*</i></h6>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-8">
    <h3>Activities</h3>
    <div class="well" id="nested-well">
      <%= f.fields_for :activities do |af| %>
        <%= render partial: 'shared/activity_field', locals: {f: af} %>
      <% end %>
      <%= button_to_add_field f, :activities %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="form-group">
        <% if @program.new_record? %>
            <%= f.submit 'Create', class: "btn btn-sm btn-primary" %>
        <% else %>
            <%= f.submit 'Update', class: "btn btn-sm btn-primary" %>
            <%= link_to 'Show', @program, class: "btn btn-sm btn-info" %>
        <% end %>
        <%= link_to 'Back', url_for(:back), class: "btn btn-sm btn-default" %>
    </div>
</div>
<% end %>
