<div class="page-header">
    <h1>Listing programs</h1>
</div>

<div class="table-responsive">
  <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Speaker</th>
                <th>Speakerbio</th>
                <th>Biourl</th>
                <th>Key Takeways</th>
                <th>Tags</th>
                <th>Resources</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
        <% @programs.each do |program| %>
            <tr>
                <td><%= program.name %></td>
                <td><%= program.description %></td>
                <td><%= program.speaker %></td>
                <td><%= program.speakerbio %></td>
                <td><%= program.biourl %></td>
                <td><%= program.keytakeways %></td>
                <td><%= program.tags %></td>
                <td><%= program.resources %></td>
                <td>
                    <%= link_to 'Show', program, class:"btn btn-sm btn-info" %>
                    <%= link_to 'Edit',  edit_program_path(program), class:"btn btn-sm btn-warning" %>
                    <%= link_to 'Destroy', program, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-sm btn-danger" %>
                </td>
            </tr>
        <% end %>
        </tbody>
  </table>
</div>


<%= link_to 'New Program', new_program_path, class: "btn btn-sm btn-success" %>
