<section class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="page-header">
            <h1>Program Overview of: <%= @program.id %> </h1>
        </div>
        <div class="well">
            <h1 class="text-center"><strong><%= @program.name %></strong></h1>
            <h2 class="text-center"><%= @program.description %></h2>
            <h2 class="text-center"><%= @program.speaker %></h2>
            <h2 class="text-center"><%= @program.speakerbio %></h2>
            <a href="<%= @program.biourl %>" target="_blank"><h2 class="text-center"><%= @program.biourl %></h2></a>
            <h2 class="text-center"><%= @program.keytakeways %></h2>
            <h2 class="text-center"><strong><%= @program.tags %></strong></h2>
            <h2 class="text-center"><%= @program.resources %></h2>
        </div>
        

        <%= link_to 'Edit', edit_program_path(@program), class: "btn btn-sm btn-warning" %>
        <%= link_to 'Back', url_for(:back), class: "btn btn-sm btn-default pull-right" %>

    </div>
</section>
