<section class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <h1>Program Overview of: <%= @program.id %> </h1>
        </div>
        <div class="well">
            <h1 class="text-center"><strong><%= @program.name %></strong></h1>
            <h3 class="text-center"><%= @program.description %></h3>
            <h3 class="text-center"><%= @program.speaker %></h3>
            <h3 class="text-center"><%= @program.speakerbio %></h3>
            <a href="//<%= @program.biourl %>" target="_blank"><h3 class="text-center"><%= @program.biourl %></h3></a>
            <h3 class="text-center"><%= @program.keytakeways %></h3>
            <% @program.resources.split("\r\n").each do |r| %>
              <a href="//<%= r %>" target="_blank"><h3 class="text-center"><%= r %></h3></a>
            <% end %>
            <h3 class="text-center"><strong><%= @program.tags %></strong></h3>
        </div>
    </div>
</section>

<section class="row">
    <div class="col-lg-12">
        <div class="form-group">
            <%= link_to 'Edit', edit_program_path(@program), class: "btn btn-sm btn-warning" %>
            <%= link_to 'Back', url_for(:back), class: "btn btn-sm btn-default" %>
        </div>
    </div>
</section>
