<div class="show-main" style="background-image: linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ), url(<%= @program.program_img.url.nil? ? "http://placehold.it/1600x400" : @program.program_img.url %>)">
  <h1><%= @program.name %></h1>
</div>

<section class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <div class="form-group">
      <%= link_to 'Back', url_for(:back), class: "btn btn-default" %>
      <% if can? :edit, @program %>
          <%= link_to 'Edit', edit_program_path(@program), class: "btn btn-info" %>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3 col-lg-offset-1">
    <div class="well">
      <dl>
        <dt>Speaker: </dt>
        <img class="center-block img-circle" style="min-width: 150px; max-width: 150px;" src="<%= @program.speaker_img.url %>">
        <dd class="text-center"><%= @program.speaker %></dd>
      </dl>
    </div>
  </div>
  <div class="col-lg-7">
    <div class="well">
        <dl class="dl-horizontal">
          <dt>Description:</dt>
          <dd><%= @program.description %></dd>

          <dt>Speaker Bio:</dt>
          <dd><%= @program.speakerbio %></dd>

          <dt>Key Takeaways:</dt>
          <dd><%= @program.keytakeways %></dd>


          <dt>Resource:</dt>
          <dd>
            <ul class="list-unstyled">
              <% @program.resources.split("\r\n").each do |r| %>
                  <li><a href="//<%= r %>" target="_blank"><%= r %></a></li>
              <% end %>
            </ul>
          </dd>

          <dt>Tags:</dt>
          <dd><%= @program.tags %></dd>
        </dl>
    </div>
  </div>
</section>