<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @program.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @program.description %>
</p>

<p>
  <strong>Keytakeways:</strong>
  <%= @program.keytakeways %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @program.tags %>
</p>

<p>
  <strong>Resources:</strong>
  <%= @program.resources %>
</p>


 <%= link_to 'Add',new_activity_path%>

<%= link_to 'Show', program_path(@program) %>
<%= link_to 'Edit', edit_program_path(@program) %> 
<%= link_to 'Back', programs_path %>
