<% if @user.errors.any? %>
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <strong><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</strong>

    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @user, html: { role: "form" ,:multipart => true } do |f| %>
<div class="row">
  <div class="col-md-6 col-lg-7">
    
    <h3>User credentials</h3>
    <div class="form-group">
      <label for="name">Name</label>
      <%= f.text_field(:name, class:"form-control", autofocus: true, placeholder: "Full Name") %>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <%= f.email_field(:email, class:"form-control", placeholder: "Email Address") %>
    </div>
    <div class="form-group">
      <label for="ic">National ID</label>
      <%= f.text_field(:ic, class:"form-control", placeholder: "Dash Separated") %>
    </div>
    <div class="form-group">
      <label for="phone">Phone Number</label>
      <%= f.text_field(:phone, class:"form-control", placeholder: "Phone Number") %>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <%= f.password_field:password, class:"form-control", placeholder: "Password" %>
    </div>
    <div class="form-group">
      <label for="password_confirmation">Password Confirmation</label>
      <%= f.password_field:password_confirmation, class:"form-control", placeholder: "Password confirmation" %>
    </div>

       <%= link_to "Link Google Account", user_omniauth_authorize_path(provider: "google_oauth2") %><br />
       
    <div class="form-group">
      <label for="image">Profile Picture</label>
      <%= f.file_field:image %>
      <h6><i>*Size of image uploaded should not be larger than 160 x 160 px*</i></h6>
    </div>
    
      <div class="form-group">
      <%= f.hidden_field :image_cache %>
    </div>

    
  </div>

  <% if current_user.has_role?('admin') %>
      <div class="col-md-6 col-lg-5">
        <h3>Roles</h3>
        <div class="well" id="nested-well">
          <%  Role.all.each do |t|  %>
              <%= f.label t.name  %>
              <% checkbox = false %>
              <% if @user.has_role?(t.name) %>
                  <% checkbox = true %>
              <% end %>
              <%= check_box_tag "roles[]", t.name, checkbox %>
          <% end %>
        </div>
      </div>
  <% end %>
</div>


<div class="row">
  <div class="col-md-12">
    <div class="form-group">
        <% if @user.new_record? %>
            <%= f.submit 'Create', class: "btn btn-sm btn-primary" %>
        <% else %> <!-- else show an update button -->
            <%= f.submit 'Update', class: "btn btn-sm btn-primary" %>
            <%= link_to 'Show', @user, class: "btn btn-sm btn-info" %>
        <% end %>
        <%= link_to 'Back', url_for(:back), class: "btn btn-sm btn-default" %>
    </div>
  </div>
</div>
<% end %>
