<div class="header-container row">
    <div class="col-lg-6 col-lg-offset-3">
        <h1 class="header">Application Settings</h1>
    </div>
</div>

<%= form_tag("/settings", method: "post", role: "form") do%>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <h3 class="no-margin-top">Eventbrite</h3>
            <div class="well">
                <div class="form-group">
                    <label for="eventbrite_api">Personal Oauth Token</label>
                    <%= text_field_tag(:eventbrite_api, Magicbeans.eventbrite_api, class:"form-control", autofocus: true) %>
                </div>
            </div>

            <h3 class="no-margin-top">Twitter</h3>
            <div class="well">
                <div class="form-group">
                    <label for="twitter_consumer_key">Consumer Key</label>
                    <%= text_field_tag(:twitter_consumer_key, Magicbeans.twitter_consumer_key, class:"form-control") %>
                </div>
                <div class="form-group">
                    <label for="twitter_consumer_secret">Consumer Secret</label>
                    <%= text_field_tag(:twitter_consumer_secret, Magicbeans.twitter_consumer_secret, class:"form-control") %>
                </div>
                <div class="form-group">
                    <label for="twitter_access_token">Access Token</label>
                    <%= text_field_tag(:twitter_access_token, Magicbeans.twitter_access_token, class:"form-control") %>
                </div>
                <div class="form-group">
                    <label for="twitter_access_token_secret">Access Token Secret</label>
                    <%= text_field_tag(:twitter_access_token_secret, Magicbeans.twitter_access_token_secret, class:"form-control") %>
                </div>
                <div class="form-group">
                    <label for="twitter_message">Custom Message</label>
                    <%= text_field_tag(:twitter_message, Magicbeans.twitter_message, class:"form-control") %>
                </div>
            </div>

            <h3 class="no-margin-top">Facebook</h3>
            <div class="well">
                <div class="form-group">
                    <label for="fb_app_id">Application ID</label>
                    <%= text_field_tag(:fb_app_id, Magicbeans.fb_app_id, class:"form-control") %>
                </div>
                <div class="form-group">
                    <label for="fb_message">Application Secret</label>
                    <%= text_field_tag(:fb_app_secret, Magicbeans.fb_app_secret, class:"form-control") %>
                </div>
                <div class="form-group">
                    <label for="fb_message">Page ID</label>
                    <%= text_field_tag(: fb_page_id, Magicbeans.fb_page_id, class:"form-control") %>
                </div>
                <div class="form-group">
                    <label for="fb_message">User Access Token</label>
                    <%= text_field_tag(: fb_user_access_token, Magicbeans.fb_user_access_token, class:"form-control") %>
                </div> 
                <div class="form-group">
                    <label for="fb_message">Page Access Token</label>
                    <%= text_field_tag(: fb_page_access_token, Magicbeans.fb_page_access_token, class:"form-control") %>
                    <%= link_to 'Generate', {:controller => :magicbeans, :action => :generate_page_token, :method => :post}, class:"btn btn-block btn-success" %>
                </div>
                <div class="form-group">
                    <label for="fb_message">Custom Message</label>
                    <%= text_field_tag(: fb_message, Magicbeans.fb_message, class:"form-control") %>
                </div>
            </div>
            
            <h3 class="no-margin-top">Google</h3>
            <div class="well">
                <div class="form-group">
                    <label for="google_service_account_email">Google Service Account Email</label>
                    <%= text_field_tag(:google_service_account_email, Magicbeans.google_service_account_email, class:"form-control") %>
                </div>
                <div class="form-group">
                    <label for="google_calendar_id">Calendar ID</label>
                    <%= text_field_tag(:google_calendar_id, Magicbeans.google_calendar_id, class:"form-control") %>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="form-group">
            <%= submit_tag("Save", class: "btn btn-block btn-primary") %>
            </div>
        </div>
    </div>
<% end %>