<h1>Application Settings</h1>

<%= form_tag("/settings", method: "post", role: "form") do%>
    <div class="row">
        <div class="col-md-6 col-lg-7">
            <h3>API Keys</h3>
            <div class="form-group">
                <label for="eventbrite_api">Eventbrite</label>
                <%= text_field_tag(:eventbrite_api, Magicbeans.eventbrite_api, class:"form-control", autofocus: true) %>
            </div>
            <div class="form-group">
                <label for="organizer_id">Eventbrite Organizer ID</label>
                <%= text_field_tag(:organizer_id, Magicbeans.organizer_id, class:"form-control") %>
            </div><br>
            <h3>Twitter</h3><br>
            <div class="form-group">
                <label for="twitter_consumer_key">Consumer Key</label>
                <%= text_field_tag(:twitter_consumer_key, Magicbeans.twitter_consumer_key, class:"form-control", autofocus: true) %>
            </div>
            <div class="form-group">
                <label for="twitter_consumer_secret">Consumer Secret</label>
                <%= text_field_tag(:twitter_consumer_secret, Magicbeans.twitter_consumer_secret, class:"form-control", autofocus: true) %>
            </div>
            <div class="form-group">
                <label for="twitter_access_token">Access Token</label>
                <%= text_field_tag(:twitter_access_token, Magicbeans.twitter_access_token, class:"form-control", autofocus: true) %>
            </div>
            <div class="form-group">
                <label for="twitter_access_token_secret">Access Token Secret</label>
                <%= text_field_tag(:twitter_access_token_secret, Magicbeans.twitter_access_token_secret, class:"form-control", autofocus: true) %>
            </div><br>
            <h3>Facebook</h3><br>
            <div class="form-group">
                <label for="fb_api">API Key</label>
                <%= text_field_tag(:fb_api, Magicbeans.fb_api, class:"form-control") %>
            </div><br>
            <h3>Google</h3><br>
            <div class="form-group">
                <label for="google_service_account_email">Google Service Account Email</label>
                <%= text_field_tag(:google_service_account_email, Magicbeans.google_service_account_email, class:"form-control") %>
            </div>
            <div class="form-group">
                <label for="google_calendar_id">Calendar ID</label>
                <%= text_field_tag(:google_calendar_id, Magicbeans.google_calendar_id, class:"form-control") %>
            </div><br>

            <h1>Default Status/Tweet</h1><br>
            <div class="form-group">
                <label for="fb_message">Facebook</label>
                <%= text_field_tag(:fb_message, Magicbeans.fb_message, class:"form-control") %>
            </div>
            <div class="form-group">
                <label for="twitter_message">Twitter</label>
                <%= text_field_tag(:twitter_message, Magicbeans.twitter_message, class:"form-control") %>
            </div><br>

            <h1>Timezone</h1><br>
            <div class="form-group">
                <label for="organizer_id">Eventbrite Organizer ID</label>
                <%= text_field_tag(:organizer_id, Magicbeans.organizer_id, class:"form-control") %>
            </div>

            <h3>Timezone</h3>
            <div class="form-group">
                  <%= collection_select(:time_zone, :name, ActiveSupport::TimeZone.all, :name, :to_s, {:include_blank => 'Please select a timezone', selected: Magicbeans.time_zone}, {class: "form-control"}) 
                  %>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
            <%= submit_tag("Save", class: "btn btn-sm btn-primary") %>
            </div>
        </div>
    </div>
<% end %>