
<h1><%= @activity.name %></h1>
<p class="text-muted"><%= @activity.date %> @ <%= @activity.venue %></p>

<section class="row">
    <div class="col-lg-3">
        <div class="well">
          <img class="center-block img-responsive" src="holder.js/300x80/industrial">
          <dl>
            <dt><h4>Program: </h4></dt>
            <dd class="text-center"><%= @activity.program.name %></dd>
            <dt><h4>Speaker: </h4></dt>
            <img class="center-block img-responsive" src="holder.js/300x300/industrial">
            <dd class="text-center"><%= @activity.speaker %></dd>
          </dl>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="well">
          <h4>
              <dl class="dl-horizontal">
                <dt>Event Name:</dt>
                <dd><%= @activity.name %></dd>

                <dt>Description:</dt>
                <dd><%= @activity.description %></dd>

                <dt>Speaker:</dt>
                <dd><%= @activity.speaker %></dd>

                <dt>Speaker Bio:</dt>
                <dd><%= @activity.speakerbio %></dd>

                <dt>Key Takeaways:</dt>
                <dd><%= @activity.keytakeaway %></dd>

                <dt>Pre Requisite:</dt>
                <dd><%= @activity.prerequisite %></dd>

                <dt>Max-Attendees:</dt>
                <dd><%= @activity.maxattendee %></dd>

                <dt>Resource:</dt>
                <dd>
                  <ul class="list-unstyled">
                    <% @activity.resources.split("\r\n").each do |r| %>
                        <li><a href="//<%= r %>" target="_blank"><%= r %></a></li>
                    <% end %>
                  </ul>
                </dd>

                <dt>Tags:</dt>
                <dd><%= @activity.tags %></dd>
              </dl>
          </h4>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="well">
          <div class="form-group">
            <button class="btn btn-block btn-social btn-soundcloud">Create Eventbrite Event</button>
            <button class="btn btn-block btn-social btn-google-plus">Publish Event in Calendar</button>
            <button class="btn btn-block btn-social btn-facebook">Post on Facebook</button>
            <button class="btn btn-block btn-social btn-twitter">Post on Twitter</button>
            <button class="btn btn-block btn-social btn-instagram">Post on Instagram</button>
          </div>
          <div class="form-group">
            <select class="form-control">
              <option>Select mailing list</option>
            </select>
            <button class="btn btn-block btn-social btn-adn">Blast Mailchimp</button>
          </div>
          <div class="form-group">
            <select class="form-control">
              <option>Select survey</option>
            </select>
            <button class="btn btn-block btn-social btn-github">Blast Surveymonkey</button>
          </div>
        </div>
    </div>
</section>

<div class="form-group">
  <% if can? :edit, @activity %>
    <%= link_to 'Edit', edit_activity_path(@activity), class: "btn btn-sm btn-warning" %>
  <% end %>
  <%= link_to 'Back', url_for(:back), class: "btn btn-sm btn-default" %>
  <button class="btn btn-sm btn-primary">View Registered Attendees</button>
</div>