<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Magicbeans</a>
  </div>
  <!-- /.navbar-header -->

  <ul class="nav navbar-top-links navbar-right">
    <!-- dropdown-user -->
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true">
        <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu dropdown-alerts">
        <li>
          <a href="#">
            <div>
              <i class="fa fa-comment fa-fw"></i> New Event Created
              <span class="pull-right text-muted small">4 minutes ago</span>
            </div>
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="#">
            <div>
              <i class="fa fa-twitter fa-fw"></i> 3 New Users Registered
              <span class="pull-right text-muted small">12 minutes ago</span>
            </div>
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="#">
            <div>
              <i class="fa fa-envelope fa-fw"></i> Email Blasted
              <span class="pull-right text-muted small">4 minutes ago</span>
            </div>
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="#">
            <div>
              <i class="fa fa-tasks fa-fw"></i> Posted to Instagram
              <span class="pull-right text-muted small">4 minutes ago</span>
            </div>
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="#">
            <div>
              <i class="fa fa-upload fa-fw"></i> Posted to Facebook
              <span class="pull-right text-muted small">4 minutes ago</span>
            </div>
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a class="text-center" href="#">
            <strong>See All Activity Log</strong>
            <i class="fa fa-angle-right"></i>
          </a>
        </li>
      </ul>
      <!-- /.dropdown-alerts -->
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i></a>
        <ul class="dropdown-menu dropdown-user">
            <li><a href="<%= user_path(current_user) %>"><i class="fa fa-user fa-fw"></i><%= current_user.name %></a></li>
            <li class="divider"></li>
            <li><%= link_to '<i class="fa fa-sign-out fa-fw"></i>'.html_safe + ' Logout', destroy_user_session_path, {method: :delete} %></li>
        </ul>
    </li>
  </ul>
  <!-- /.navbar-top-links -->

  <div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
      <ul class="nav" id="side-menu">
        <li>
          <a href="#"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
        </li>
        <li>
          <a <%= current_page?(users_path)? "class=active" : "" %> href="<%= users_path %>"><i class="fa fa-sitemap fa-fw"></i> Users</a>
        </li>
        <li>
          <a <%= current_page?(programs_path)? "class=active" : "" %> href="<%= programs_path %>"><i class="fa fa-table fa-fw"></i> Programs</a>
        </li>
        <li>
          <a <%= current_page?(activities_path)? "class=active" : "" %> href="<%= activities_path %>"><i class="fa fa-edit fa-fw"></i> Activities</a>
        </li>
        <!--<li>-->
          <!--<a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-level menu<span class="fa arrow"></span></a>-->
          <!--<ul class="nav nav-second-level">-->
            <!--<li>-->
              <!--<a href="#">Second Level Item</a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a href="#">Second Level Item</a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a href="#">Third Level <span class="fa arrow"></span></a>-->
              <!--<ul class="nav nav-third-level">-->
                <!--<li>-->
                  <!--<a href="#">Third Level Item</a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a href="#">Third Level Item</a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a href="#">Third Level Item</a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a href="#">Third Level Item</a>-->
                <!--</li>-->
              <!--</ul>-->
              <!--&lt;!&ndash; /.nav-third-level &ndash;&gt;-->
            <!--</li>-->
          <!--</ul>-->
          <!--&lt;!&ndash; /.nav-second-level &ndash;&gt;-->
        <!--</li>-->
      </ul>
    </div>
    <!-- /.sidebar-collapse -->
  </div>
  <!-- /.navbar-static-side -->
</nav>