<div class="sidebar">
  <h3 class="brand">Magicbeans</h3>
  <a href="<%= settings_path %>" class="settings"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
  <ul class="nav">
  	<li <%= current_page?(root_path)? "class=active" : "" %> ><a href="<%= root_path %>">Home</a></li>
    <li <%= current_page?(users_path)? "class=active" : "" %> ><a href="<%= users_path %>">Users</a></li>
    <li <%= current_page?(programs_path)? "class=active" : "" %> ><a href="<%= programs_path %>">Programs</a></li>
    <li <%= current_page?(activities_path)? "class=active" : "" %> ><a href="<%= activities_path %>">Activities</a></li>
  </ul>
</div>