<!DOCTYPE html>
<html>
<head>
  <title>Magicbeans</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true, :debug => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true, :debug => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id="wrapper">
        <%= render 'layouts/navigation' %>

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
              <%= render partial: "shared/flash_messages", flash: flash %>
              <!-- yield the content -->
              <%= yield %>
            </div>
        <!-- /.container-fluid -->
        </div>
    </div>
</body>
</html>