<!DOCTYPE html>
<html>
<head>
  <title>Magicbeans</title>
  <link href='https://fonts.googleapis.com/css?family=Bitter|Raleway|Inconsolata' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true, :debug => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true, :debug => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/navbar' %>

<!-- the container -->
<div class="container">

  <!-- render the flash type (success, error et cetera) messages -->
    <%= render partial: "shared/flash_messages", flash: flash %> 
    
    <!-- yield the content -->
    <%= yield %>
</div>

<!-- render the footer partial -->
<%= render 'layouts/footer' %>
</body>
</html>